_build/
_opam
.DS_Store
*~
*.aes
_test/
_output/
_*/
*/.*
\#*#
node_modules/
examples/
artwork/
src/
test/
.ocamlformat
camserver.rab.spthy
dune-project
LICENSE
pipeline.md
rab-mode.el
rabbit.opam
rabbit.sublime-syntax
README.md
test.sh